body {
  height: 100vh;
  width: 100vw;
  // overflow: hidden;
  margin: 0;
  padding: 0;
  background: radial-gradient(rgb(153, 81, 211), rgb(76, 0, 134));
}

.df {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
}

.conReg {
  height: 100%;
  width: 100%;
  border-radius: 30px;
  align-items: flex-start;
  justify-content: center;
}

.halfup1 {
  height: 70%;
  width: 70%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.halfup1 img:first-child {
  width: 60%;
  height: auto;
  margin-top: 10%;
}

.halfup1 img {
  margin-top: 1rem;
  width: 30%;
}

.reg {
  height: 50%;
  width: 70%;
  flex-direction: column;
  justify-content: space-evenly;
}

label {
  color: white;
  font-size: 2rem;
  margin: 2rem;
  font-family: reg;
}

input {
  font-size: 1.2rem;
  text-align: center;
  width: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  border-bottom: 1px solid rgb(47, 2, 82);
  color: white;
  font-family: reg;
}

.logo1 {
  width: 85%;
  height: 20%;
  justify-content: center;
}

.logo1 img {
  width: 60%;
  height: auto;
}

@media (max-width: 990px) {
  .halfup1 img {
    width: 250px;
  }

  label {
    color: white;
    font-size: 2rem;
    margin-top: 1rem;
    font-family: reg;
  }
}

@media (max-width: 480px) {
  .halfup1 img {
    width: 50%;
    height: 100%;
    margin-top: 1rem;
  }

  label {
    color: white;
    font-size: 1rem;
    margin-top: 0%;
    font-family: reg;
  }

  .halfup1 img:first-child {
    width: 60%;
    height: auto;
    margin-top: 1%;
  }
}
